.button {
  /*margin-left: 30em;*/
  float: right;
  margin-right: 28%;
  padding-top: 0.6%;
  padding-bottom: 0.7%;
  margin-left: 0px ;
}

.card {
  /*flex: 1;*/
  width: 30%;
  height: 1.5em;
  float: left;
  padding-top: 0.5%;
  padding-left: auto;
  margin-left: 27%;
}

.container {
  margin-top: 20em;
}

.full-width-field {
  width: 1%;
}
.material-icons-color {
  color: red;
}
.inputWidth{
  width: 70%;
}

