<form class="container">
  <md-card class="card">
    <md-card-header></md-card-header>
    <md-card-content class="inputContainer">
      <button md-icon-button>
        <md-icon>
          <i class="material-icons material-icons-color locationButton">room</i>
        </md-icon>
      </button>
      <md-input-container class="inputWidth">
        <input mdInput type="text" placeholder="Location">
      </md-input-container>
    </md-card-content>
    <md-card-actions></md-card-actions>
  </md-card>
  <button md-raised-button type="button" class="button" color="primary" [routerLink]="['/restaurants']">Find Food
  </button>
</form>





