<form>
  <div class="distance">
    <p class="title">
      Address Line1
    </p>
    <input type="text" class="input">
  </div>
  <div class="distance">
    <p class="title">
      Address Line2
    </p>
    <input type="text" class="input">
  </div>
  <div class="distance">
    <p class="title">
      City
    </p>
    <input type="text" class="input">
  </div>
  <div class="distance">
    <p class="title">
      State
    </p>
    <select id="inputState" class="input">
      <option selected>FL</option>
      <option *ngFor="let state of states">{{state}}</option>
    </select>
  </div>
  <div class="distance">
    <p class="title">
      Zip code
    </p>
    <input type="text" class="input">
  </div>
  <div class="distance">
    <button mat-raised-button color="Primary">Update</button>
  </div>
</form>
