<form>
  <div class="distance">
    <p class="title">
      AddressLine1
    </p>
    <input type="text" class="input">
  </div>
  <div class="distance">
    <p class="title">
      AddressLine2
    </p>
    <input type="text" class="input">
  </div>
  <div class="distance">
    <p class="title">
      city
    </p>
    <input type="text" class="input">
  </div>
  <div class="distance">
    <p class="title">
      state
    </p>
    <input type="text" class="input">
  </div>
  <div class="distance">
    <p class="title">
      zipCode
    </p>
    <input type="text" class="input">
  </div>
  <div class="distance">
    <button>Update</button>
  </div>
</form>
