<form [formGroup]="addressForm" (ngSubmit)=" updateAddress()" #f="ngForm">
  <div class="distance" >
    <p class="title">
      Address Line1
    </p>
    <input type="text" class="input" formControlName="aLine1" [[ngModel]]="model.address.aLine1">
  </div>
  <div class="distance">
    <p class="title">
      Address Line2
    </p>
    <input type="text" class="input" formControlName="aLine2" [[ngModel]]="model.address.aLine2">
  </div>
  <div class="distance">
    <p class="title">
      City
    </p>
    <input type="text" class="input" formControlName="city" [[ngModel]]="model.address.city">
  </div>
  <div class="distance">
    <p class="title">
      State
    </p>
    <select id="inputState" class="input" formControlName="state" [[ngModel]]="model.address.state">
      <option selected>FL</option>
      <option *ngFor="let state of states">{{state}}</option>
    </select>
  </div>
  <div class="distance">
    <p class="title">
      Zip code
    </p>
    <input type="text" class="input" formControlName="zip" [[ngModel]]="model.address.zip">
  </div>
  <div class="distance">
    <button mat-raised-button color="Primary" type="submit">Update</button>
  </div>
</form>
