div {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
  background-image: none;
}

.pic{
  height: 200px;
  width: 200px;
  margin: auto;

}
.container {
  width: 200px;
  height: 300px;
}
