div {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: -3em;
  background-image: none;
}

.pic{
  height: 200px;
  width: 200px;
  margin: auto;

}
.container {
  width: 230px;
  height: 350px;
}
