<app-research></app-research>
<div class="global-contain">
  <mat-grid-list cols="4" rowHeight="1:2">
    <mat-grid-tile id="restaurantList" *ngFor="let res of restaurants">
      <mat-card class="card">
        <mat-card-title style="font-family: Impact" (click)="goToMenu(res)" id="restaurantTitle">{{res.title}}
        </mat-card-title>
        <img (click)="goToMenu(res)" class="pic" mat-card-image [src]="res.picture" id="restaurantImg">
        <hr>
        <mat-card-content id="restaurantDesc" (click)="goToMenu(res)" style="font-family: Verdana">
          Delivery fee: ${{res.deliveryFee}}
          <p>Category: {{res.type}}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

