<app-research></app-research>
<div class="global-contain">
  <mat-grid-list cols="4" rowHeight="1:2">
    <mat-grid-tile id="restaurantList" *ngFor="let res of restaurants">
      <mat-card class="container">
        <mat-card-title style="font-family: Impact" (click)="goToMenu(res)">{{res.title}}</mat-card-title>
        <img (click)="goToMenu(res)" class="pic" mat-card-image [src]="res.picture">
        <hr>
        <mat-card-content (click)="goToMenu(res)" style="font-family: Verdana">
          {{res.content}}
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

