.menu {
  background-color: #eeeeee;
}

mat-card {
  width: 22em;
  height: 8em;
}

.addButton {
  margin-left: 15.5em;
  margin-top: 0.5em;
}

.navigateBack {
  background-color: #eeeeee;
  padding-top: 0.3em;
  padding-left: 0.5em;
}

.dishPrice {
  position: absolute;
  left: 240px;
}
