.left{
  width: 30%;
  height: 525px;
  float:left;
  felx: 1;
  background-color: #eeeeee;
  border-right: 2px solid;
}
.right{
  width: 70%;
  height: 525px;
  float:left;
  felx: 1;
  background-color: #eeeeee;
}
