<form>
  <md-card>
    <md-card-header>
      <md-card-title>Login</md-card-title>
    </md-card-header>
    <md-card-content>
      <md-input-container class="full-width">
        <input mdInput type="text" placeholder="Email">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput type="password" placeholder="Password">
      </md-input-container>
      <button md-raised-button type="button">Login</button>
    </md-card-content>
    <md-card-actions class="text-right">
      <p>Don't have an account? <a href="">Create Your Account</a></p>
      <a href="">Forgot Password?</a>
    </md-card-actions>
  </md-card>
</form>
