<div class="box-body">
  <table class="table table-bordered">
    <tr>
      <th style="width: 10px">#</th>
      <th>OrderID</th>
      <th>Username</th>
      <th>User Address</th>
      <th>Order Detail</th>
      <th>Order Date</th>
    </tr>
    <tr id="orders" *ngFor="let order of orders ,let i = index;">
      <td id="Number">{{i + 1}}</td>
      <td id="orderId">{{order.orderID}}</td>
      <td id="uName">{{order.username}}</td>
      <td id="uAddress">{{order.userAddress}}</td>
      <td id="detail">{{order.orderDetail}}</td>
      <td id="date">{{order.orderDate}}</td>
    </tr>
  </table>
</div>
