<form [formGroup]="paymentForm" (ngSubmit)="updatePayment()">
  <div class="div">
      <p class="title">Card holder's name</p>
    <input class="holder" formControlName="holder" [(ngModel)]="py.holder">
  </div>
  <div class="div">
    <p class="title">Card number</p>
    <input type="text" class="number1" autocomplete="off" maxlength="4" pattern="\d{4}"
           title="First four digits" formControlName="n1" [(ngModel)]="py.n1" required>
    <input type="text" class="number" autocomplete="off" maxlength="4" pattern="\d{4}"
           title="Second four digits" formControlName="n1" [(ngModel)]="py.n2" required>
    <input type="text" class="number" autocomplete="off" maxlength="4" pattern="\d{4}"
           title="Third four digits" formControlName="n1" [(ngModel)]="py.n3" required>
    <input type="text" class="number" autocomplete="off" maxlength="4" pattern="\d{4}"
           title="Forth four digits" formControlName="n1" [(ngModel)]="py.n4" required>
  </div>
  <div class="div">
      <p class="title">Card expiry date</p>
    <select id="inputMonth" class="date" formControlName="em" [(ngModel)]="py.em">
      <option *ngFor="let month of months" [value]="month">{{month}}</option>
      </select>
    <select id="inputYear" class="date" formControlName="ey" [(ngModel)]="py.ey">
      <option *ngFor="let year of years" [value]="year">{{year}}</option>
      </select>
  </div>
  <div class="div">
      <p class="title">Card CVV</p>
    <input type="text" class="cvv" autocomplete="off" maxlength="3" pattern="\d{4}"
           formControlName="cvv" [(ngModel)]="py.cvv" required>
  </div>
  <div class="div">
    <button mat-raised-button>Update</button>
  </div>
</form>
