<form>
  <md-card>
    <md-card-header>
      <md-card-title >
          <span color="primary" class="titlePosition">Gator Bite</span>
      </md-card-title>
    </md-card-header>
    <md-card-content>
      <md-input-container class="full-width">
        <input mdInput type="text" placeholder="Email">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput type="text" placeholder="UserName">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput type="password" placeholder="Password">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput type="password" placeholder="Confirm your Password">
      </md-input-container>
      <button md-raised-button type="button" class="bottonPosition" color="primary">Create Your Account</button>
    </md-card-content>
  </md-card>
</form>
