/* You can add global styles to this file, and also import other style files */
html, body, app-root .site{
  width : 100%;
  height: 100%;
  margin: 0;
}
.site{
  display: flex;
  flex-direction: column;
}
main{
  flex: 1;
  background-color: burlywood;
}
header{
  background-color: blue;
}
footer{
  background-color: darksalmon;
}
