/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import 'theme.scss';
html, body, app-root .site{
  width : 100%;
  height: 100%;
  margin: 0;
}
.site{
  display: flex;
  flex-direction: column;
}

app-center {
  flex: 1;
  background: url("assets/backimg.jpg");
  background-size: cover;
  background-position: center;
}
.fill-remaining-space{
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}
.global-contain {
  margin-left: 10%;
  margin-right: 10%;

}
